body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d8dcfb;
    color: rgb(255, 255, 255);
     background-image: url(ocean3.jpeg);
}

/* Header Styling */
h1, h2, p{
    margin: 0;
    padding: 10px 0;
}

header{
    font-family: Arial, sans-serif;
    position: relative;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 900px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown_menu {
    display: none;
}

.dropdown_menu2 {
    display: none;
}

.menu-container ul li:hover .dropdown_menu2{
    display:block;
    margin-bottom: 8px;
    position:absolute;
}

.menu-container ul li:hover .dropdown_menu{
    display:block;
    margin-left:0px;
    margin-bottom: 8px;
    position: absolute;
}

h1{
    color: rgb(209, 4, 4);
    text-align: center;
    font-size: 2em;
}

header img {
    width: 150px;
    display: block;
    margin: 0 auto 15px;
}

header a {
    color: rgb(209, 4, 4);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

header a:hover{
    color: rgb(209, 4, 4);
    border-bottom: 2px solid rgb(209, 4, 4);
 }

header ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 0;
}

header ul li{
    display: inline;
    margin-right: 20px;
    font-size: 1.2em;
}

/* Article Styling */
article {
    font-family: Arial, sans-serif;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 25px;
    margin: 30px auto;
    width: 90%;
    max-width: 900px;
    border-radius: 8px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    line-height: 1.8;
    color: #333;
    font-size: 1.1em;
}

article h2{
    font-size: 2em;
    color: white;
}
article ol{
    margin-left: 20px;
}
article ol li{
    margin-bottom: 15px;
}
article ul{
    margin-left: 20px;
}
article ul li{
    margin-bottom: 10px;
}

/* Footer Styling */
footer {
    font-family: Arial, sans-serif;
    font-size: 1.2em;
    background-color:rgba(255, 255, 255, 0.9);
    color: #333;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    width: 90%;
    max-width: 900px;
} 

 footer p{
    margin: 10px 0;
 }

footer a{
    color: rgb(209, 4, 4)
}

footer a img {
    width: 50px;
    margin-top: 10px;
}

a {
    color: #007BFF; /* Blue */
    text-decoration: none;
}


a:hover {
    color: #FF0000; /* Red */
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    header img {
        width: 250px;
        height: 150px;
    }
}

footer p, footer a {
    font-size: 0.9em;
    color: rgb(209, 4, 4);
    text-decoration: none;
    margin: 10px 0;
}

