/* General Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d8dcfb;
}

/* Header Styling */
header {
    font-family: Arial, sans-serif;
    position: relative;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 900px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

h1{
    color: rgb(209, 4, 4);
    text-align: center;
}

header img {
    width: 150px;
    display: block;
    margin: 0 auto 15px;
    text-align: center;
}

header ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 0;
}

header a {
    color: rgb(209, 4, 4);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

header ul li{
    display: inline;
    margin-right: 20px;
    font-size: 1.2em;
}

header a:hover{
    color: rgb(209, 4, 4);
    border-bottom: 2px solid rgb(209, 4, 4);
 }

 .dropdown_menu{
    display:none
}

.dropdown_menu2{
    display:none
}

.menu-container ul li:hover .dropdown_menu2{
    display:block;
    margin-bottom: 8px;
    position:absolute;
}

.menu-container ul li:hover .dropdown_menu{
    display:block;
    margin-left:0px;
    margin-bottom: 8px;
    position: absolute;
}

ul{
    list-style: none;
    color:white
    
}
p{
    color:white
}
.box{
    flex-direction: column;
    width:150px
}
#cancel{
margin-left: 55px;
margin-top: -22px;
display:flex
}
.guest{
    float:right;
    margin-top: -150px;
    margin-right:50px
}
.movedown{
    margin-top: 40px;
}
img {
    width: 150px;
    height:118px;
    border-radius: 25px;
    display: block;}
/* Footer Styling */
footer {
    font-family: Arial, sans-serif;
    font-size: 1.2em;
    background-color:rgba(255, 255, 255, 0.9);
    color: #333;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    width: 90%;
    max-width: 900px;
} 

footer a{
    color: rgb(209, 4, 4)
}

footer a img{
    width: 50px;
    margin-top: 10px;
 }

 footer p{
    margin: 10px 0;
 }

fieldset{
    width:50px;
    border: 2px solid black;
    background-color: grey;}
