body{
    background-color: lightblue;
    padding:0px;
    margin:0px
}
img {
width: 150px;
height:118px;
border-radius: 25px;
display: block;
box-shadow: 4px 4px 4px  rgba(177, 5, 5, 0.924);
}
header {
    background-color: black;
    height:115px;
    max-width:100%;
}
.cover{
    width:102%;
    margin-right: 15px;
    margin-top:-15px;
}
h1 {
    text-align: center;
    margin-top: -80px;
    color: white;
   
}

.turtle p{
    color: white;
    text-wrap: wrap;
    font-size: 20pt;
    margin-top: -15px;
}


footer{
    width: 100%;         
    color: white;
    padding-left:20px;
    height:260px;
    background-color: black;
    margin-top: 50px;
    padding-bottom: 20px;
}
footer h1, h2,h3,h4,h5,h6{
    color:white
}
footer img{
    width:80px;
    height:100px;
    float:left;
margin-bottom: 20px;
margin-left: -25px;}

.turtle{
    background: url(turtle.jpeg) no-repeat;
    background-size:100% 100% ;
    width:102%;
    height: 150px;
    padding: 15px;
    border: 2pt solid black;
    margin-left: -10px;
}
.donators{
    font-size: 15pt;
}
    